body {
    font-family: Gilroy
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px
}

.header {
    background-color: #D20A11;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 5px 5px 0 0
}

.content {
    padding: 20px 0
}

.footer {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 0 0 5px 5px
}

a {
    color: #D20A11
}
